.navigation {
	background: #200122;
	background: -webkit-linear-gradient(to right, #6f0000, #200122);
	background: linear-gradient(to right, #6f0000, #200122);
	height: 20vh;
	width: 100%;
}

h1 {
	font-size: 4rem;
	padding: 6rem 4rem 2rem;
}

a {
	display: inline-block;
	font-size: 1.7rem;
	padding: 2rem 4rem;
	text-decoration: none;
}
