.navigation {
	background: #200122;
	background: -webkit-linear-gradient(to right, #6f0000, #200122);
	background: linear-gradient(to right, #6f0000, #200122);
	height: 20vh;
	width: 100%;
}

.heading {
	font-size: 15rem;
}
